%h2 Livestream

%h3
  N&auml;chste Livestunde
  %small{:id => "countdown_time", 'data-seconds' => "#{get_next_livestream}"}
.row
  %h2
  Hohe Bitrate, hohe Aufl&oouml;sung
  .flowlive1.span9
    %video{ :type => 'video/flash', :src => 'livestream1'}
%h2
Mittlere Bitrate, mittlere Aufl&oouml;sung
.row
  .flowlive2.span6
    %video{ :type => 'video/flash', :src => 'livestream2'}
%h2
Niedrige Bitrate, Niedrige Aufl&ouml;sung
.row
  .flowlive3.span3
    %video{ :type => 'video/flash', :src => 'livestream3'}


